<div class="row">
  <div class="col-md-5">
    <!-- get the recipeWasSelected from recipe-list component -->
    <recipe-list></recipe-list>
    <!-- **recipeWasSelected)="selectedRecipe = $event" -->
  </div>
  <div class="col-md-7">
    <!-- ngIf for making a condition to which recipe will be display -->
    <!-- bind the recipe from recipe-detail with selectedRecipe -->
    <recipe-detail
      *ngIf="selectedRecipe; else infoText"
      [recipe]="selectedRecipe"
    ></recipe-detail>
    <!-- ngtemplate for dami text with the local reference #infoText to be use as else -->
    <ng-template #infoText>
      <p>Please select a Recipe!</p>
    </ng-template>
  </div>
</div>
